/**
 * Header
 */
#header {
    border: 0;
    height: 200px;
    background-color: #010c2a;
    background-image: url(%%banner%%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}
@media (max-width: 860px) {
    #header {
        background-size: cover;
        background-position: center;
    }
}
#header-img {
    height: 195px;
}
.pagename {
    position: absolute;
    top: 30px;
    height: 140px;
    width: 480px;
    
    background-image: url(%%logo%%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    
    font-size: 0;
}
.pagename>a {
    position: absolute;
    z-index: 100;
    
    height: 140px;
    width: 450px;
}

/**
 * Categories
 */
.tabmenu li a {
    background-color: #48a2e1;
    background-color: rgba(72,162,225,.85);
    color: #fff;
    border-radius: 4px 4px 0 0;
    font-weight: normal;
}
.tabmenu li a:hover {
    background-color: rgba(102,192,255,.85);
}
.tabmenu .selected a:hover {
    background-color: #fff;
}

/**
 * Top bar
 */
#sr-header-area {
    margin-bottom: -18px;
    border: 0;
    background-color: #48a2e1;
    background-color: rgba(72,162,225,.85);
    box-shadow: 0 0 4px black;
}
#sr-header-area a,
#sr-header-area span,
#sr-header-area .selected a {
    color: #fff;
}
#sr-more-link {
    background-color: #48a2e1;
}
div#RESShortcutsEditContainer {
    background-color: transparent;
}
#RESShortcutsEditContainer>div {
    background-color: transparent;
    color: #fff;
}
.srdrop.drop-choices {
    /* higher layer than logo */
    z-index: 999;
    border: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px #000;
    overflow: hidden;
    background-color: rgba(72,162,225,.95);
}
.srdrop.drop-choices>.choice:hover {
    background-color:rgba(102,192,255,.95);
}

/**
 * Userbar
 */
div#header-bottom-right {
    /* Fix RES hard-coding dumb values */
    top: inherit;
    bottom: 0;
}

/**
 * Sidebar
 */
.morelink {
    font-weight: normal;
    letter-spacing: 0.1px;
    background: #48a2e1;
    border-color: #3781d0;
    border-width: 0 0 2px;
    border-radius: 2px;
    transition: background 0.2s ease 0s;
}
.morelink a {
    color: #fff;
}
.morelink:hover {
    background: rgba(102,192,255,1);
    border-color: #48a2e1;
}
.morelink .nub {
    display: none;
}
.titlebox>.subscribers>.number:after {
    content: " Producers";
}
.titlebox>.subscribers>.word {
    display: none;
}
.sidecontentbox .flair {
    font-size: 0;
    text-indent: 0;
    overflow: visible;
    vertical-align: text-top;
    margin-right: 6px;
    margin-bottom: 6px;
}
.sidecontentbox .flair:after {
    font-size: 12px;
    content: attr(title);
    display: inline-block;
    white-space: nowrap;
    margin-left: 46px;
    margin-top: 16px;
    font-style: italic;
}

/**
 * Threadlist
 */
.content .link {
    margin: 10px 314px 12px 10px;
    padding: 5px 0;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #eee #ddd #bdddf4;
    border-radius: 2px;
    background-color: #fbfffb;
    box-shadow: 0 3px 12px rgba(85,85,85,0.1);
}
.content .stickied.link {
    background-color: #f5fff5;
    border-bottom-color: #cce5cc;
}
.content .link .entry .flat-list {
    opacity: 0.6;
    transition: opacity 0.2s ease 0s;
}
.content .link:hover .entry .flat-list {
    opacity: 1;
}

/**
 * Thread OP
 */
.linklisting .usertext-body .md {
    border-color: #ddd;
}

/**
 * Comments
 */
.nestedlisting {
    margin-right: 314px;
}
.commentarea .thing {
    margin-bottom: 12px;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: #ddd #ddd #bdddf4;
    border-radius: 4px;
    padding: 8px 8px 0;
    box-shadow: 0 3px 12px rgba(85,85,85,0.1);
}
.comment .entry .flat-list {
    opacity: 0.6;
    transition: opacity 0.2s ease 0s;
}
.comment .entry:hover .flat-list {
    opacity: 1;
}

/**
 * Spoiler Code
 * Usage: [spoiler](#s "up up down down left right left right bee ayy")
 */

a[href="#s"],
.md p > a[href="#s"] {
    text-decoration: none !important;
    cursor: default;
    background: #000;
    color: #fff !important;
    display: inline-block;
}
a[href="#s"]::after,
.md p > a[href="#s"]::after {
    content: attr(title);
    color: #000;
    padding: 0 0.5em;
    visibility: visible;
}
a[href="#s"]:hover,
.md p > a[href="#s"]:hover {
    color: #fff !important;
}
a[href="#s"]:hover::after,
a[href="#s"]:active::after,
.md p > a[href="#s"]:hover::after,
.md p > a[href="#s"]:active::after {
    color: #fff;
}


/**
 * Announcement bar
 */
div.content {
    margin-top:60px;
}
.titlebox form {
    position: static;
}
.side h3:nth-of-type(1) {
    /*this code positions the sticky*/
    position: absolute;
    display: block;
    top: 200px;
    left: 40px;
    font-size: 14px!important;
    
    /*this code styles the sticky*/
    color: #555555;
    text-align: left;
    /*margin: 15px 15px 0px 15px;*/
    margin-top: 15px;
    border-radius: 8px;
    width: 60%;
    padding: 0; /*10px 0px 15px 59px*/
    
    
    /*prevent iOS from scaling the text to cover post information*/
    -webkit-text-size-adjust: 100%;
}

/**
 * Flairs
 */
.flair {
    border: 0;
    border-radius: 8px;
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
    padding: 0px;
    background: url(%%flairs%%) no-repeat -9999px -9999px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.link .flair, .entry .tagline .flair {
    float: left;
}

.flair-airi-pp { background-position: -1px -1px; }
.flair-anzu-lk { background-position: -43px -1px; }
.flair-chieri-yc { background-position: -85px -1px; }
.flair-fumika-bm { background-position: -1px -43px; }
.flair-kanako-ww { background-position: -43px -43px; }
.flair-kirari-gp { background-position: -85px -43px; }
.flair-miku-cp { background-position: -1px -85px; }
.flair-minami-nv { background-position: -43px -85px; }
.flair-mio-som { background-position: -85px -85px; }
.flair-ranko-dpor { background-position: -127px -1px; }
.flair-riina-hb { background-position: -127px -43px; }
.flair-rika-sd { background-position: -127px -85px; }
.flair-rin-som { background-position: -1px -127px; }
.flair-uzuki-som { background-position: -43px -127px; }
.flair-kitty { width: 61px; background-position: -85px -127px; }
